* {
    list-style-type: none;
    text-decoration: none !important;    
    font-family: Arial, Helvetica, sans-serif;

}

.dropdown * {
    text-decoration: blue !important;
}

/* button h4 {
    color: white;
} */