<!-- views/partials/footer.ejs -->
<a class="btn" data-popup-open="popup-1" href="#" hidden="hidden">Open Popup #1</a>
<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h1 class="text-center">Oh no! <br/> <br/>We noticed you are using an ad blocker</h1>
        <h3 class="text-center">Please whitelist our website or subscribe to urMusic Premium our new membership service. <br/><br/> urMusic Premium includes an advertising free music experience, exclusive music content, events and more. <br/><br/>Just as little as £2 per day.</h3>

        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>
<div class="row text-dark subfooter">
    <div class="container">
        <div class="row justify-content-center">

            <h3 class="col-md-3 mt-3 text-center"> urMusic</h3>
        </div>
        <div class="row justify-content-center">
            <a href="#" class="col-md-2 btn btn-link btn-sm text-dark" role="button">Terms and Conditions</a>
            <a href="#" class="col-md-2 btn btn-link btn-sm text-dark" role="button">Privacy Statement</a>
            <a href="#" class="col-md-2 btn btn-link btn-sm text-dark" role="button">Cookies Notice</a>
            <a href="" class="col-md-2 btn btn-link btn-sm disabled text-dark" role="button">&#169; 2018-2019,
                Atakan and Anton Technologies Inc.</a>

        </div>
        <div class="row ">
            <div class="col mb-3"></div>
        </div>
    </div>

</div>