<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div class="row">
            <h5>Sort By:</h5>
        </div>
        <div class="row">
            <nav class="nav flex-column col-sm-2">
                <div class="row ml-1">
                    <h5 class="nav-link pb-0 mb-1">Genre</h5>
                </div>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">Rock</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">Pop</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">Electronic</a>
                <div class="dropdown ml-4 mt-0 bt-0">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="color:#007bff ;">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">Shoegaze</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">Hip Hop</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">Classic</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">Punk Rock</a>
                    </div>
                </div>
                <div class="row ml-1">
                    <h5 class="nav-link pb-0 mb-1">Format</h5>
                </div>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">Vinyl</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">Album</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">CD</a>
                <div class="dropdown ml-4 mt-0 bt-0">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="color:#007bff ;">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">Mixtape</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">DVD</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">BluRay</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">USB 3.2</a>
                    </div>
                </div>
                <div class="row ml-1">
                    <h5 class="nav-link pb-0 mb-1">Decade</h5>
                </div>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">2010</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">2000</a>
                <a href="#" class="row ml-4 mt-0 bt-0 text-left">1990</a>
                <div class="dropdown ml-4 mt-0 bt-0">
                    <a class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style="color:#007bff ;">
                        All
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">1980</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">1970</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">1960</a>
                        <a href="#" class="row ml-4 mt-0 bt-0 text-left">1950</a>
                    </div>
                </div>
            </nav>
            <div class="col">
                <div class="row">
                    <div class="col-sm-2 card border-0">
                        <img class="card-img-top" src="images/cover.png" alt="Album Image">
                        <div class="card-body p-1 ">
                            <div class="noverflow">
                                <a class="" href="#"><small><b>Naked Flames Who Ruined Their Past Lives</b></small> </a>

                            </div>
                            <div class="noverflow">
                                <a class="" href="#"><small><small>Naked Flames</small></small>  </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 card border-0">
                        <img class="card-img-top" src="images/cover.png" alt="Album Image">
                        <div class="card-body p-1 ">
                            <div class="noverflow">
                                <a class="" href="#">Naked Flames Who Ruined Their Past Lives </a>

                            </div>
                            <div class="noverflow">
                                <a class="" href="#"><small>Naked Flames</small> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 card border-0">
                        <img class="card-img-top" src="images/cover.png" alt="Album Image">
                        <div class="card-body p-1 ">
                            <div class="noverflow">
                                <a class="" href="#">Naked Flames Who Ruined Their Past Lives </a>

                            </div>
                            <div class="noverflow">
                                <a class="" href="#"><small>Naked Flames</small> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 card border-0">
                        <img class="card-img-top" src="images/cover.png" alt="Album Image">
                        <div class="card-body p-1 ">
                            <div class="noverflow">
                                <a class="" href="#">Naked Flames Who Ruined Their Past Lives </a>

                            </div>
                            <div class="noverflow">
                                <a class="" href="#"><small>Naked Flames</small> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 card border-0">
                        <img class="card-img-top" src="images/cover.png" alt="Album Image">
                        <div class="card-body p-1 ">
                            <div class="noverflow">
                                <a class="" href="#">Naked Flames Who Ruined Their Past Lives </a>

                            </div>
                            <div class="noverflow">
                                <a class="" href="#"><small>Naked Flames</small> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>