<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container">
        <div class="p-5 row">
            <form action="/AddRelease" method="post" enctype="multipart/form-data" class="col-sm-8 offset-sm-2">
                <h1>Add Release</h1>
                <div class="form-group row">
                    <label for="input_release_name" class="col-sm-4 col-form-label">Release Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="input_release_name" placeholder="Release Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_artist" class="col-sm-4 col-form-label">Artist</label>
                    <div class="col-sm-8">
                        <button class="btn btn-outline-secondary dropdown-toggle col text-left" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id="input_artist">Artist</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Atakan Colak</a>
                            <a class="dropdown-item" href="#">Anton Sukhorukov</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_cover_art" class="col-sm-4 col-form-label">Cover Art</label>
                    <div class="input-group col-sm-8">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="coverart"
                                aria-describedby="inputGroupFileAddon01" accept=".png" enctype="multipart/form-data" />
                            <label class="custom-file-label noverflow" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_release_type" class="col-sm-4 col-form-label">Release Type</label>
                    <div class="col-sm-8">
                        <button class="btn btn-outline-secondary dropdown-toggle col text-left" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id="input_release_type">Release Type</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Single</a>
                            <a class="dropdown-item" href="#">EP</a>
                            <a class="dropdown-item" href="#">Album</a>
                            <a class="dropdown-item" href="#">Compilation</a>
                            <a class="dropdown-item" href="#">Other</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_release_date" class="col-sm-4 col-form-label">Release Date</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="input_release_date" placeholder="Release Date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_release_length" class="col-sm-4 col-form-label">Release Length</label>
                    <div class="col-sm-8">
                        <input type="time" step="1" class="form-control" id="input_release_length"
                            placeholder="Release Length">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_label" class="col-sm-4 col-form-label">Label</label>
                    <div class="col-sm-8">
                        <button class="btn btn-outline-secondary dropdown-toggle col text-left" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            id="input_label">Label</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">No Label</a>
                            <a class="dropdown-item" href="#">ur the Best - Music</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_release_formats" class="col-sm-4 col-form-label">Release Formats</label>
                    <div class="col-sm-8">
                        <label class="row ml-1 mt-2 align-items-center">
                            <input id="digital" type="checkbox" value="false" /> Digital
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="cd" type="checkbox" value="false" /> CD
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="vinyl" type="checkbox" value="false" /> Vinyl
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="casette" type="checkbox" value="false" /> Casette
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_release_genres" class="col-sm-4 col-form-label">Release Genres</label>
                    <div class="col-sm-8">
                        <label class="row ml-1 align-items-center">
                            <input id="dance" type="checkbox" value="false" /> Dance
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="electronic" type="checkbox" value="false" /> Electronic
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="experimental" type="checkbox" value="false" /> Experimental
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="folk" type="checkbox" value="false" /> Folk
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="hiphop" type="checkbox" value="false" /> Hip Hop
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="jazz" type="checkbox" value="false" /> Jazz
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="pop" type="checkbox" value="false" /> Pop
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="punk" type="checkbox" value="false" /> Punk
                        </label>
                        <label class="row ml-1 mt-2 align-items-center">
                            <input id="rock" type="checkbox" value="false" /> Rock
                        </label>
                        <label class="row ml-1 align-items-center">
                            <input id="metal" type="checkbox" value="false" /> Metal
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input_release_desc" class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <textarea id="input_release_desc" class="form-control" rows="5"
                            placeholder="Description"></textarea>
                    </div>
                </div>
                <!-- <div class="form-group row song-section">
                    <label for="input_song_list" class="col-sm-4 col-form-label">Songs</label>
                    <div class="col-sm-8">
                        <div class="jumbotron p-3 mb-0">
                            <div class="form-group">
                                <div class="row">
                                    <label for="input_song_name" class="col-sm-4 col-form-label">Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="input_song_name"
                                            placeholder="Song Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="input_song_length" class="col-sm-4 col-form-label">Length</label>
                                    <div class="col-sm-8">
                                        <input type="time" step="1" class="form-control" id="input_song_length"
                                            placeholder="Length">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="input_track_path" class="col-sm-4 col-form-label">Track File</label>
                                    <div class="input-group col-sm-8">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="input_track_path"
                                                aria-describedby="inputGroupFileAddon02" accept=".mp3">
                                            <label class="custom-file-label noverflow" for="inputGroupFile02">Choose
                                                file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input_song_number" class="col-sm-4 col-form-label">Number</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" id="input_song_number"
                                            placeholder="0">
                                    </div>
                                </div>
                                <div class="invalid-song text-danger" hidden>
                                    Please fill all of the fields....
                                </div>
                                <button class="btn btn-dark mt-3 add-song">Add Song</button>
                            </div>
                        </div>
                        <div class="song-list">
                            <ul class="max-300 p-3">

                            </ul>
                        </div>
                    </div>
                </div> -->
                <button id="addrelease" type="submit" class="btn btn-dark mt-3">Add Release</button>
            </form>

        </div>
        <div class="p-5 row">
            <form class="col-sm-8 offset-sm-2">
                <h1>Remove Release</h1>
                <ul class="max-300 p-3">
                    <li></li>
                </ul>
            </form>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>