<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="container ">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-4 mb-5">

                <h1 class="text-center mt-5 pt-5" style="font-size:60px;">Welcome to urMusic!
                </h1>
                <h3 class="text-center mt-5">Connect yourself to your music. </h3>
                <h3 class="text-center mt-5 mb-0 pb-0"><a style="color: gray" href="/Discover"><b>Discover</b></a> the
                    warmest* tunes in the streets. </h3>
                <h6 class="text-center mt-0 pt-0">*Hottest and coolest at the same time. </h6>
                <div id="loginhome" class="hidden">
                    <h4 class="text-center mt-5"> <a style="color: gray" href="/Login"><b>Login</b></a> to <i>ur</i>
                        world of music.</h4>
                    <h4 class="text-center mt-3">Not a member? <a style="color: gray" href="/Register"><b>Become
                                one</b></a>. </h4>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>